@model IEnumerable<string>
@* a dropdown that on chnages displays a new form*@
@{
    ViewData["Title"] = "Create Document";
}
<form method="get" asp-action="GetCreationForm">
<select name="Title"  id="Title">
    @foreach (var item in Model)
    {
        <option value="@item">@item</option>
    }
</select>
<input type="submit" value="Submit">
</form>



