@model List<TemplateElement>


<form method="post" asp-action="SaveDocument" id="documentForm">
    <!-- The container where the paginated content will be loaded -->
    <div id="paginationContent">
        @foreach (TemplateElement TE in Model)
        {
            @Html.Raw(TE.FixedTitle)
            @Html.Raw(TE.Element.InnerText)
        }
    </div>

    <input type="submit" value="Save" />
</form>

<!-- Pagination Controls -->
<nav aria-label="Page navigation">
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item"><a class="page-link" href="?Title=@ViewBag.Title&page=@i" data-page="@i">@i</a></li>
        }
    </ul>
</nav>

<script>
    

    
</script>