
.FiltersTab {
    border-width: 1px;
    border-color: gainsboro;
    padding: 0.5rem;
    border-style: solid;
    border-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
}

.FiltersTable {
    margin-bottom: 0rem;
}

.FiltersIcon {
    filter: drop-shadow(0.5px 0.5px 0.1px #000000);
    transition: all 0.3s ease-in-out;
}

.BiggerOnHover {
    transition: all 0.1s ease-in-out;
    font-size: 1em;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}

.BiggerOnHover:hover {
    transition: all 0.1s ease-in-out;
    font-size: 1.3em;
}

.box {
    width: fit-content;
    padding: 3px 9px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01);
}

    .box::after {
        position: absolute;
        content: "";
        left: 10px;
        right: 0px;
        z-index: -1;
        height: 76%;
        width: 50%;
        transform: scale(0.9) translateZ(0);
        filter: blur(4px);
        background: linear-gradient(to left, #ff5770, #e4428d, #c42da8, #9e16c3, #6501de, #9e16c3, #c42da8, #e4428d, #ff5770);
        background-size: 200% 200%;
        -webkit-animation: animateGlow 1.25s linear infinite;
        animation: animateGlow 1.25s linear infinite;
        transition: left 1s ease,filter 0.25s ease-out, width 1s ease;
    }

    .box:hover::after {
        position: absolute;
        content: "";
        left: 12px;
        right: 0px;
        z-index: -1;
        height: 76%;
        width: 40%;
        transform: scale(0.9) translateZ(0);
        filter: blur(30px);
        background: linear-gradient(to left, #ff5770, #e4428d, #c42da8, #9e16c3, #6501de, #9e16c3, #c42da8, #e4428d, #ff5770);
        background-size: 200% 200%;
        -webkit-animation: animateGlow 1.25s linear infinite;
        animation: animateGlow 1.25s linear infinite;
    }


@-webkit-keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}

.flipped {
    transform: scaleX(-1);
}

.rotated {
    transform: rotate(180deg);
}

.NoUnderline {
    text-decoration: none;
}

.font-small {
    width: fit-content;
    font-size: 1.7rem;
}

.fullcover {
    width: 100%;
    height: 100%;
}

.HoverText {
    opacity: 0;
    height: 0%;
    line-height: 0;
    width: fit-content;
    transition: all 0.3s ease-in-out;
}

.block {
    padding: 10px;
}

    .block:hover .HoverText {
        opacity: 1;
        height: fit-content;
        width: fit-content;
        line-height: 1;
        /*text-shadow: x-offset y-offset blur-radius color;*/

        transition: all 0.3s ease-in-out;
    }

.specialTH {
    padding: 3px;
    transition: width 0.3s ease-in-out; /* Add transition for smooth width change */
}

    .specialTH:hover {
        width: 15rem !important;
    }

        .specialTH:hover .multiselect-dropdown {
            font-size: 1rem;
            transition: font-size 0.3s ease-in-out;
        }

.multiselect-dropdown {
    width: inherit;
    padding: 10px !important;
    font-size: 0.7rem;
}

/*Check Box*/ /*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.checkbox-wrapper-25 input[type="checkbox"] {
    font-size:1.2em;
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,.1), hsla(0,0%,100%,.1)), -webkit-linear-gradient(left, #f66 50%, #6cf 50%);
    background-size: 100% 100%, 200% 100%;
    background-position: 0 0, 15px 0;
    border-radius: 25px;
    box-shadow: inset 0 1px 4px hsla(0,0%,0%,.5), inset 0 0 10px hsla(0,0%,0%,.5), 0 0 0 1px hsla(0,0%,0%,.1), 0 -1px 2px 2px hsla(0,0%,0%,.25), 0 2px 2px 2px hsla(0,0%,100%,.75);
    cursor: pointer;
    height: 1em;
    padding-right: 1em;
    width: 3em;
    -webkit-appearance: none;
    -webkit-transition: .25s;
}

    .checkbox-wrapper-25 input[type="checkbox"]:after {
        background-color: #eee;
        background-image: -webkit-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
        border-radius: 25px;
        box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,1), inset 0 -1px 1px 1px hsla(0,0%,0%,.25), 0 1px 3px 1px hsla(0,0%,0%,.5), 0 0 2px hsla(0,0%,0%,.25);
        content: '';
        display: block;
        height: 1em;
        width: 2em;
    }

    .checkbox-wrapper-25 input[type="checkbox"]:checked {
        background-position: 0 0, 35px 0;
        padding-left: 1em;
        padding-right: 0;
    }

/*checkbox end  ---------------------------------------------------------------------------------------------------------------------------------------------*/

.HideHightTR {
    opacity: 0;
    max-height: 0rem;
    transition: all 0.5s ease-in-out;
}

.ShowHightTR {
    max-height: 15rem !important;
    opacity: 1;
}



.transitionTB {
    transition: all 0.5s ease-in-out;
    display: block !important;
    max-height: 0rem;
}

.transitionTBShow {
    max-height: 15rem !important;
}




.lightbox {
    position: relative;
}

    .lightbox::after {
        position: absolute;
        min-width: 19px;
        content: "";
        height: 76%;
        width: 12%;
        transform: scale(0.9) translateZ(0);
        filter: blur(9px);
        background: linear-gradient(to left, #ff5770, #e4428d, #c42da8, #9e16c3, #6501de, #9e16c3, #c42da8, #e4428d, #ff5770);
        background-size: 200% 200%;
        -webkit-animation: animateGlow 1.25s linear infinite;
        animation: animateGlow 1.25s linear infinite;
        transition: left 1s ease,filter 0.25s ease-out, width 1s ease;
    }
