@{
    var i=0;
}
@foreach (ArchivedDocument item in Model)
{
    <tr>
        <td>@(item.FileName ?? "N/A")</td>
        <form asp-action="download" asp-controller="ArchivedDocuments" method="post">
        <td onclick="GetVersions(@item.Id, this)">
            @* a list of versions with default beign latest version when clicked fetches other version from db *@
            <select class="NewDropdown" name="version"  id="@i">
                <option>Latest</option>
           
            </select>

        </td>
        <td>

                <input type="hidden" name="id" value="@item.Id" />
                <input type="submit" class="btn-success" value="Download" />
            

            
        </td>
    </form>

       

    </tr>
    i++;
}
<div id="PopupPlaceHolder"></div>


<script src="~/js/GetArchivedVersions.js">

</script>


