@model IEnumerable<ArchivedDocument>

@{
    ViewData["Title"] = "Index";
    ViewData["Filters"] = false;
}
@await Html.PartialAsync("_SearchPartial", new ViewDataDictionary(ViewData))
<h1>Archived Documents</h1>

<table class="border-3 table" style="border-style: solid;border-radius:10px">
    <thead>
        <tr>
            <th>Document Name</th>
            <th>Version</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        @await Html.PartialAsync("_ArchivedListPartial",Model)
    </tbody>
</table>
