@using Microsoft.AspNetCore.Html
@using DoucmentManagmentSys.Models
@model IEnumerable<PrimacyDocument>

@{
    ViewData["Title"] = "Home Page";

}
@* //two buttons with the svg icon *@
<div class="d-flex justify-content-center">
    <a class="btn-warning m-1 p-3" href="Home/InProcess">
        Documents In Process
        <img style="filter:hue-rotate(330deg)" src="~/images/in progress.svg" />
    </a>
    <a class="btn-success m-1 p-3" href="/Index">Done Documents<br/>
        <img width="164px"   src="~/images/checked.svg"/>
    </a>
</div>

<script src="~/js/Bend.js"></script>
