@using Microsoft.AspNetCore.Html
@using DoucmentManagmentSys.Models
@model Tuple<int, string>

@{
    ViewData["Title"] = "View Document";
}
<script src="~/js/pdfjs-dist-master/build/pdf.js" type="module"></script>
<script src="~/js/pdfjs-dist-master/web/pdf_viewer.js" type="module"></script>

<link href="~/js/pdfjs-dist-master/web/pdf_viewer.css" rel="stylesheet" />
<div id="pageContainer" class="pdfViewer singlePageView"></div>

<script src="~/js/pageviewer.js" type="module"></script>


