@using Microsoft.AspNetCore.Html
@using DoucmentManagmentSys.Models
@model string

@{
    ViewData["Title"] = "View Document";
}


@* //two buttons with the svg icon *@
<div class="">
    @Html.Raw(@Model)
</div>

<script src="~/js/Bend.js"></script>
