@using DoucmentManagmentSys.Helpers
@model string;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split Screen Landing Page</title>
    <link rel="stylesheet" href="~/css/_PlatformDecide.css">
</head>

<body>

    <div class="container">
        <section class="screen left">
            <h1>Released</h1>
            <div>
                <a asp-area="Identity" asp-page="/Account/@Model" class="button">@Model</a>
            </div>
        </section>

        <section class="screen right">
            <h1>Demo</h1>
            <div>
                <a class="button" href="@ConfigurationHelper.GetString("OtherSite")Identity/Account/@Model">@Model</a>
            </div>
        </section>
    </div>

    

</body>
<script type="module" src="~/js/_PlatformDecide.js"> </script>
</html>
