@* \html  search bar for documents styled with bootsrap*@
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group mb-3">
                <input type="text" onkeyup="Search()" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="Search()">Search</button>
            </div>
        </div>
    </div>

</div>
@* @* a script to activate search with ajax *@